* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    /* Primary colors */
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    /* Neutral colors */
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);

    /* font */
    --body-font: 'DM Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--body-font);
    background: var(--cream);
}
.card {
    color: var(--dark-brown);
    max-width: 400px;
    min-width: 400px;
}

.card-balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    background: var(--soft-red);
    color: var(--very-pale-orange);
    border-radius: 1rem;
}

.card-balance__wrapper p {
    font-size: 0.75rem;
}

.card-balance-logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-balance-logo__wrapper img {
    max-width: 48px;
}
.card-chart {
    padding: 2rem;
    background: var(--very-pale-orange);
    border-radius: 1rem;
}

.card-chart h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0 0;
}

.card-footer p {
    color: var(--medium-brown);
}

.card-footer-cent__wrapper {
    text-align: right;
}

.card-footer-total__wrapper h2 {
    font-size: 2rem;
}

@media screen and (max-width: 402px){
    body {
        /* display: block; */
        padding: 0 0.8rem;
    }
    .card {
        width: 100%;
        min-width: 100%;
    }
    .card-footer-cent__wrapper h2 {
        font-size: 1.5rem;
    }
    .card-chart h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
}


